// 标题，修改成你期望的字体族
//$font-family-headings = "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif, "Roboto Slab", Georgia, sans
$font-family-headings = Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif

// 修改成你期望的字体族
//$font-family-base = "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif, "Microsoft YaHei", Verdana, sans-serif
$font-family-base = Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif

// 代码字体
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 14px
